.nav-link {
    font-family: $decor-font;
    color: $text-color !important;
    font-weight: 600 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: $text-color !important;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}